html {
    position: relative;
}

body {
    margin-bottom: 120px;
    margin-top: 30px;
}

.jumbotron {
    height:400px ;
    background-image: url(../img/pohon.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: 0 -200px;
    color: #eaeaea;
}

.jumbotron img {
    width: 200px;
    border: 5px solid #eaeaea;
    box-shadow: 1px 1px 10px rgba(0,0,0,0.5);
}

.jumbotron h1, .jumbotron p {
    text-shadow: 1px 1px 10px rgba(0,0,0,0.5);
}

 hr {
    width: 250px;
    border-top:3px solid rgb(210, 208, 208);
}

section {
    min-height: 600px;
}

.portfolio {
    background-color: #eee;
}

.contact {
    min-height:800px ;
}

footer {
    position: absolute;
    bottom: 0%;
    width: 100%;
    height: 100px;
    background-color: #333;
    padding-top:30px ;
}


footer p {
    color: #aaa;
    font-size: 0,9em;
}
footer p i{
    color:salmon;
}

button {
    border-radius: 3px;
}

